---
import MainLayout from "../layouts/main.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
allBlogPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<MainLayout title="Home">
  <ul>
    {
      allBlogPosts.map((blogPost) => (
        <li>
          <a href={`/blog/${blogPost.slug}/`}>{blogPost.data.title}</a>
        </li>
      ))
    }
  </ul>
</MainLayout>
