service:
  name: leslehcouk-backend

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-1
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "ses:SendEmail"
      Resource: "*"

functions:
  contactMailer:
    handler: contact.mailer
    environment:
      RECAPTCHA_SECRET_KEY: ${ssm:recaptchaSecretKey~true}
    events:
      - http:
          method: post
          path: contact
          cors: true
