---
import "../stylesheets/_index.scss";
import Nav from "../components/nav";
import Header from "../components/header";
import { FontAwesomeIcon } from "@aduh95/preact-fontawesome";
import { faGithubAlt } from "@fortawesome/free-brands-svg-icons";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} - Lesleh.co.uk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-grid">
      <Header client:idle />
      <Nav />

      <h1 class="page-title">{title}</h1>
      <main class="site-main"><slot /></main>
      <footer class="site-footer">
        <a
          class="github-link"
          href="https://github.com/lesleh/lesleh.co.uk/"
          title="View source on GitHub"
        >
          <FontAwesomeIcon icon={faGithubAlt} />
        </a>
      </footer>
    </div>
  </body>
</html>
