---
import "../stylesheets/_index.scss";
import Layout from "../components/layout";

export interface Props {
  content: {
    title: string;
  };
}

const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Layout title={content.title}>
      <slot />
    </Layout>
  </body>
</html>
