$rounded-borders: true !default;

:root {
  --font-family: 'Nunito', sans-serif;
  --border-radius: 3px;
  --input-padding: 10px 15px;

  --color-primary: #af1440;
  --color-primary-inverse: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #2a2a2e;
    --color-primary-inverse: #af1440;
  }
}
